<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link href="../static/css/styles4.css" rel="Stylesheet" type="text/css" /> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <!------ Include the above in your HEAD tag ---------->
    </head>

    <body>
      <header>
          <div class="flex">
              <div class="logo">
                  <a href="#"><img src="../static/images/war_zone.jpg" alt="War Zone" /></a>
              </div>
              <nav>
                <button id="nav-toggle" class="hamburger-menu">
                    <span class="strip"></span>
                    <span class="strip"></span>
                    <span class="strip"></span>
                </button>
                <ul id="nav-menu-container">
                  <li><a href="/">Home</a></li>
                    <div class="dropdown">
                        <button class="dropbtn">MS Games</button>
                        <div class="dropdown-content">
                          <a href="MSGames.html">MS Games</a>
                          <a href="MSDetail.html">Ms Detail Games</a>
                          <a href="MSMap.html">MS Games Map</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">PC Games</button>
                        <div class="dropdown-content">
                          <a href="PCGames.html">PC Games</a>
                          <!-- <a href="no_us_map.html">PC Games Map</a> -->
                          <a href="steam.html">Steam Top 100</a>
                          <a href="top100plot.html">Steam Player Data</a>
                          <a href="PCMap.html">PC Map</a>
                        </div>
                      </div>
                    <li><a href="ML.html">Machine Learning Predications</a></li>
                    <li><a href="AboutUs.html">About Us</a></li>
                </ul>
            </nav>
            </div>
        </header>

    <main>   
      <div class="container-fluid"> 
        <h2 style="text-align:center;font-size: 400%;">Our Team</h2>
        <div class="container-fluid mt-4">

            <div class="col-auto mb-3">
              <div class="card">
                  <img src="../static/images/purple_sus.png" alt="Christi" class="img-thumbnail"  style="width: 70%">
                  <div class="container">
                    <h4>Christi Bragg</h4>
                    <li><a href="https://www.linkedin.com/in/christi-bragg-67b71554/">LinkedIn</a></li>
                    <li><a href="https://github.com/cbragg3136">Github</a></li>
                  </div>
              </div>
            </div>

            <div class="col-auto mb-3">
              <div class="card">
                  <img src="../static/images/green_sus.png" alt="Dustin" class="img-thumbnail" style="width: 70%">
                  <div class="container">
                    <h4>Dustin Combs</h4>
                    <li><a href="https://www.linkedin.com/in/dustin-combs-998750/">LinkedIn</a></li>
                    <li><a href="https://github.com/dustincombs">Github</a></li>
                  </div>
              </div>
            </div>

            <div class="col-auto mb-3">
              <div class="card">
                  <img src="../static/images/yellow_sus.png" alt="Lydia" class="img-thumbnail" style="width: 70%">
                  <div class="container">
                    <h4>Lydia Field</h4>
                    <li><a href="https://www.linkedin.com/in/lydia-field-908117127/">LinkedIn</a></li>
                    <li><a href="https://github.com/lydiapf">Github</a></li>
                  </div>
              </div>
            </div>
        <!-- </div>
          <div class="row"> -->
            <div class="col-auto mb-3">
              <div class="card">
                  <img src="../static/images/orange_sus.png" alt="Shelly" class="img-thumbnail" style="width: 70%">
                  <div class="container">
                    <h4>Shelly Nixon</h4>
                    <li><a href="https://www.linkedin.com/in/shelly-nixon-8014312a/">LinkedIn</a></li>
                    <li><a href="https://github.com/shellymnixon">Github</a></li>
                  </div>
              </div>
            </div>

            <div class="col-auto mb-3">
              <div class="card">
                  <img src="../static/images/cyan_sus.png" alt="Rodrigo" class="img-thumbnail" style="width: 70%">
                  <div class="container">
                    <h4>Rodrigo Reyes</h4>
                    <li><a href="https://www.linkedin.com/in/rodrigo-reyes-219b26180/">LinkedIn</a></li>
                    <li><a href="https://github.com/rodking96">Github</a></li>
                  </div>
              </div>
            </div>

            <div class="col-auto mb-3">
              <div class="card">             
                  <img src="../static/images/red_sus.png" alt="Lowell" class="img-thumbnail" style="width: 70%">
                  <div class="container">
                    <h4>Lowell Vaughen</h4>
                    <li><a href="https://www.linkedin.com/in/lowell-vaughen-3990741/">LinkedIn</a></li>
                    <li><a href="https://github.com/lvaughen">Github</a></li>
                  </div>
              </div>
            </div>

            <div class="col-auto mb-3">
              <div class="card">
                  <img src="../static/images/pink_sus.png" alt="Hannah" class="img-thumbnail" style="width: 70%">
                  <div class="container">
                    <h4>Hannah Bridges</h4>
                    <li><a href="https://www.linkedin.com/in/hannah-bridges-3629a018b/">LinkedIn</a></li>
                    <li><a href="https://github.com/hannahlbridges">Github</a></li>
                  </div>
              </div>
            </div>
          </div>
      </div> 
    </main>

        <script>
            document.getElementById('nav-toggle').addEventListener('click', function () {
                let navMenu = document.getElementById('nav-menu-container');
                navMenu.style.display = navMenu.offsetParent === null ? 'block' : 'none';
            });
        </script>
    </body>
</html>
