<!DOCTYPE html>
<html>
    <head>
        <title>Machine Learning Predications</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
        <link href="../static/css/styles5.css" rel="Stylesheet" type="text/css" />
        <script src="https://d3js.org/d3.v6.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </head>
    <header>
      <div class="flex">
          <div class="logo">
              <a href="#"><img src="../static/images/war_zone.jpg" alt="War Zone" /></a>
          </div>
          <nav>
            <button id="nav-toggle" class="hamburger-menu">
                <span class="strip"></span>
                <span class="strip"></span>
                <span class="strip"></span>
            </button>
            <ul id="nav-menu-container">
                <li><a href="/">Home</a></li>
                <div class="dropdown">
                    <button class="dropbtn">MS Games</button>
                    <div class="dropdown-content">
                      <a href="MSGames.html">MS Games</a>
                      <a href="MSDetail.html">Ms Detail Games</a>
                      <a href="map.html">MS Games Map</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">PC Games</button>
                    <div class="dropdown-content">
                      <a href="PCGames.html">PC Games</a>
                      <!-- <a href="no_us_map.html">PC Games Map</a> -->
                      <a href="steam.html">Steam Top 100</a>
                      <a href="top100plot.html">Steam Player Data</a>
                      <a href="PCMap.html">PC Map</a>
                    </div>
                  </div>
                <li><a href="ML.html">Machine Learning Predications</a></li>
                <li><a href="AboutUs.html">About Us</a></li>
            </ul>
        </nav>
      </div>
  </header>

  <main>

    <section id="recent-games">
        <h1 style="font-size: 50px">Machine Learning Predictions</h1>

        <div class="description">
            <p>     This page shows the results of several machine learning models created to predict game success
            as measured by Max Concurrant Users (MCUs) based on player generated game tags.
            The game tags are game descriptors that relate to genre, game features, graphics style etc.
            To determine the success of our models we primarily used two measures, F1 scores and
            AUROC scores. F1 scores measure predictive ability but do not account for overfitting,
            AUROC scores (Area Under the Curve of Receiver Operator Characteristc) delineate true vs false
            positives at different decision thresholds and therefore is not as influenced by
            overfitting.</p>
        </div>

        <div class="flex">
            <div class="box">
                <a href="#"></a><img src="../static/images/sampling_model.jpg"class="graph"/>
                <div class="box-lower-section">
                    <h2>Sampling Model </h2>
                    <h4>f1 - 0.97   AUROC - 0.686</h4>
                </div>
            </div>

            <div class="box">
                <a href="#"></a><img src="../static/images/down_sample.jpg"class="graph" />
                <div class="box-lower-section">
                    <h2>Down Sample </h2>
                    <h4>f1 - 0.74   AUROC - 0.516</h4>
                </div>
            </div>

            <div class="box">
                <a href="#"></a><img src="../static/images/up_sample.jpg"class="graph" />
                <div class="box-lower-section">
                    <h2>Up Sample</h2>
                    <h4>f1 - 0.83   AUROC - 0.547</h4>
                </div>
            </div>
        </div>
    </section>

    <section id="recent-games">
        <!-- <h1>Header Text</h1> -->
        <div class="flex">
            <div class="box">
                <a href="#"></a><img src="../static/images/smote_sample.jpg"class="graph" />
                <div class="box-lower-section">
                    <h2>Smote Sample</h2>
                    <h4>f1 - 0.83   AUROC - 0.569</h4>
                </div>
            </div>

            <div class="box">
                <a href="#"></a><img src="../static/images/adasyn_sample.jpg"class="graph" />
                <div class="box-lower-section">
                    <h2>Adasyn Sample</h2>
                    <h4>f1 - 0.81   AUROC - 0.588</h4>
                </div>
            </div>

            <div class="box">
                <a href="#"></a><img src="../static/images/rf_sample.jpg"class="graph" />
                <div class="box-lower-section">
                    <h2>Balanced Random Forest</h2>
                    <h4>f1 - 0.85 to 0.87   AUROC - 0.86 to 0.935</h4>
                </div>
            </div>
        </div>
    </section>

    <section id="recent-games">
        <div class="flex">
            <div class="box">
                <a href="#"></a><img src="../static/images/tensor.jpg"class="graph" />
                <div class="box-lower-section">
                    <h2>Neural Net Tensor Flow</h2>
                    <h4>f1 - 0.98   AUROC - 0.687</h4>
                </div>
            </div>

            <div class="box">
                <a href="#"></a><img src="../static/images/pb.jpg"class="graph" />
                <div class="box-lower-section">
                    <h2>Permutation Feature Importance</h2>
                    <h4>Random shuffle each feature and compute the change in model performance</h4>
                </div>
            </div>

            <div class="box">
                <a href="#"></a><img src="../static/images/shap.jpg"class="graph" />
                <div class="box-lower-section">
                    <h2>SHAP Feature Importance</h2>
                    <h4>Uses Shapley values from game theory to estimate feature contribution</h4>
                </div>
            </div>
        </div>
    </section>

    <section id="recent-games">
        <div class="flex">
            <div class="box">
                <a href="#"></a><img src="../static/images/al.jpg"class="graph" />
                <div class="box-lower-section">
                    <h2>ADASYN + Logistic Regression</h2>
                    <h4>f1 - 0.81 to 0.56   AUROC - 0.91</h4>
                </div>
            </div>

            <div class="box">
                <a href="#"></a><img src="../static/images/sl.jpg"class="graph" />
                <div class="box-lower-section">
                    <h2>SMOTE + Logistic Regression</h2>
                    <h4>f1 - 0.82 to 0.57   AUROC - 0.0.92</h4>
                </div>
            </div>

            <div class="box">
                <a href="#"></a><img src="../static/images/pricinglinearreg.png"class="graph" />
                <div class="box-lower-section">
                    <h2>Pricing Linear Regression</h2>
                    <h4>Cannot predict price using Linear Regression models</h4>
                </div>
            </div>
        </div>
    </section>

    <section id="recent-games">
        <div class="flex">
            <div class="funnel">
                <a href="#"></a><img class="resize" src="../static/images/modelcomparison.png"class="graph" style="padding-bottom: 20px;" />
                <div class="box-lower-section">
                    <h2>Comparison of All Models Used</h2>
                    
                </div>
            </div>

    </section>   

    <section id="recent-games">
        <div class="flex">
            <div class="funnel">
                <a href="#"></a><img class="resize" src="../static/images/weighted_tags.png"class="graph" />
                <div class="box-lower-section">
                    <h2>Game Tags with Greatest Weight</h2>
                    <h4>Based on our machine learning models these game tags have the greatest weight in predicting success. Using these tags we designed the next hit game!</h4>
                </div>
            </div>

    </section>   

            <div class="box" style="text-align: center; padding-bottom: 100px; padding-top: 0;">
                <a href="newgame.html" class="button">The Next Hit Game...</a>

            </div>



</main>
        
    </body>
</html>
