<!DOCTYPE html>
<html>
    <head>
        <title>Next Hit Game</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
        <link href="../static/css/styles4.css" rel="Stylesheet" type="text/css" />
        <script src="https://d3js.org/d3.v6.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> -->
    </head>
    <header>
      <div class="flex">
          <div class="logo">
              <a href="#"><img src="../static/images/war_zone.jpg" alt="War Zone" /></a>
          </div>
          <nav>
            <button id="nav-toggle" class="hamburger-menu">
                <span class="strip"></span>
                <span class="strip"></span>
                <span class="strip"></span>
            </button>
            <ul id="nav-menu-container">
                <li><a href="/">Home</a></li>
                <div class="dropdown">
                    <button class="dropbtn">MS Games</button>
                    <div class="dropdown-content">
                      <a href="MSGames.html">MS Games</a>
                      <a href="MSDetail.html">Ms Detail Games</a>
                      <a href="map.html">MS Games Map</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">PC Games</button>
                    <div class="dropdown-content">
                      <a href="PCGames.html">PC Games</a>
                      <!-- <a href="no_us_map.html">PC Games Map</a> -->
                      <a href="steam.html">Steam Top 100</a>
                      <a href="top100plot.html">Steam Player Data</a>
                      <a href="PCMap.html">PC Map</a>
                    </div>
                  </div>
                <li><a href="ML.html">Machine Learning Predictions</a></li>
                <li><a href="AboutUs.html">About Us</a></li>
            </ul>
        </nav>
      </div>
  </header>

  <main>

<div class="center">
    <h1 style="text-align: center; font-size: 400%;color: #FFB320;padding-top:15px;padding-bottom:30px;">The Next Hit Game</h1>
</div>



      <div class="no-gutters">

        <div class="col-lg-2 side_block">
            <p class="right_down">Action</p>
            <br/>
            <p class="right_up">Open World</p>
            <br/>
            <p class="right_down">RPG</p>
            <br/>
            <p class="right_up">Single Player</p>
        </div>

        <div class="col-lg-8 center" >
            <br>
            <img src="../static/images/best_game_ever.png" alt="Hit New Game" style="margin-bottom:30px;max-height:100%;max-width:100%">
        </div>

        <div class="col-lg-2 side_block">
            <p class="left_up">PvP Multiplayer</p>
            <br/>
            <p class="left_down">Adventure</p>
            <br/>
            <p class="left_up">Online Co-op</p>
            <br/>
            <p class="left_down">Crafting</p>
        </div>

      </div>



  </main>
        
</html>
