<!DOCTYPE html>
<html>
    <head>
        <title>Next Hit Game</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
        <link href="../static/css/styles4.css" rel="Stylesheet" type="text/css" />
        <script src="https://d3js.org/d3.v6.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <header>
      <div class="flex">
          <div class="logo">
              <a href="#"><img src="../static/images/war_zone.jpg" alt="War Zone" /></a>
          </div>
          <nav>
            <button id="nav-toggle" class="hamburger-menu">
                <span class="strip"></span>
                <span class="strip"></span>
                <span class="strip"></span>
            </button>
            <ul id="nav-menu-container">
                <li><a href="/">Home</a></li>
                <div class="dropdown">
                    <button class="dropbtn">MS Games</button>
                    <div class="dropdown-content">
                      <a href="MSGames.html">MS Games</a>
                      <a href="MSDetail.html">Ms Detail Games</a>
                      <a href="map.html">MS Games Map</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">PC Games</button>
                    <div class="dropdown-content">
                      <a href="PCGames.html">PC Games</a>
                      <!-- <a href="no_us_map.html">PC Games Map</a> -->
                      <a href="steam.html">Steam Top 100</a>
                      <a href="top100plot.html">Steam Player Data</a>
                      <a href="PCMap.html">PC Map</a>
                    </div>
                  </div>
                <li><a href="ML.html">Machine Learning Predications</a></li>
                <li><a href="AboutUs.html">About Us</a></li>
            </ul>
        </nav>
      </div>
  </header>

  <main>

    <div>
        <br>
        <h1 style="text-align: center; font-size: 400%;color: #FFB320;">The Next Hit Game</h1>
    </div>



  </main>
        
    </body>
</html>
